.supersession {
  display: flex;
  justify-content: center;
  inset: 0;
  position: absolute;
  background-color: rgb(4,21,35);
  z-index: 99999999999999999;
  align-items: center;
  flex-direction: column;

}

.hidden {
  display: none;
}

.title {
  font-size: 50px;
}

.button {
  padding: 10px;
  border-radius: 10px;
  border:none;
  color: black;
  background: white;
  background-color: rgb(255, 255, 255);

  &:hover {
    background-color: rgb(243, 243, 243);
  }

  &:active {
    background-color: rgb(228, 228, 228);
  }
}

.counter {
  font-size: 50px;
}