
.cursor{
  position: absolute;
  display: none;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: #f5e9018a;
  mix-blend-mode:exclusion;
  z-index: 60;
}
canvas{
  width: 100%;
}
.supersession {
  display: flex;
  justify-content: center;
  inset: 0;
  margin: 0 auto;
  position: absolute;
  background-color: rgb(4,21,35);
  align-items: center;
  cursor: normal;
  flex-direction: column;
  z-index: 2; // This is the important part
}
.fullscreen_container{
  cursor: none;
  width: 100%;
  text-align: center;
  & .cursor {
    display: block;
  }
}
.tab_container {
    max-width: 1080px;
    opacity: 0.8;
}
.sullscreen_container {
  .container{
    display: grid;
    margin: 0 150px;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: left;
  }
}
.container{
  display: grid;
  margin: 0 40px;
  grid-template-columns: 1fr 3fr;
  text-align: left;
}


.session {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.user_card {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 1.5rem;
}

.seconds {
  font-size: 0.5rem;
  opacity: 0.5;
  line-height: 6px;
}
.overlay {
  cursor: none !important;
}

.cover {
  width: 50%;
  z-index: 50;
}
.close{
  height: 40px;
  width: 40px;
  position: absolute;
  left: 20px;
  top: 20px;
  opacity: 0.1;
  transition: 50ms all ease;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}
.images{
  display: flex;
  align-items: flex-end;
  margin-bottom: 20px;
}
canvas {
  vertical-align: bottom
}
.qr { 
  max-width: 30%;
  opacity: 0.4;
  overflow: hidden;
  margin-left: 30px;
  mix-blend-mode: plus-lighter;
}

.hidden {
  display: none;
}

.title {
  font-size: 50px;
}
.large{
  font-size: 24px;
}
.button {
  margin-top: 40px;
  cursor: none;
  padding: 10px;
  color: white;
  border-radius: 10px;
  font-size: 32px;
  border:none;
  color: inherit;
  background: transparent;
  transition: 50ms all ease;
  opacity: 0.8;
  border-radius: 6px;

  &:hover {
    opacity: 1;
    background-color: rgb(255,255,255, .1);
  }

  &:active {
    background-color: rgb(228, 228, 228);
  }
}

.counter {
  font-size: 50px;
}